# IIoT Predictive Maintenance Platform  Environment Template

# InfluxDB
INFLUXDB_USERNAME=your_username
INFLUXDB_PASSWORD=your_strong_password
INFLUXDB_ORG=iiot org
INFLUXDB_BUCKET=factory data
INFLUXDB_TOKEN=your_influxdb_api_token

# Grafana
GRAFANA_ADMIN_USER=your_username
GRAFANA_ADMIN_PASSWORD=your_strong_password

# ML Service
ML_ASSET_ID=Pump-01
