__pycache__/
*.pyc
*.pyo

.env

mosquitto/data/
mosquitto/log/
nodered_data/lib/
nodered_data/.npm/
nodered_data/node_modules/

.DS_Store
Thumbs.db
.vscode/settings.json
*.swp
 
simulation_ground_truth.csv

nodered_data/flows_cred.json
nodered_data/.config.users.json
nodered_data/.config.*.json
nodered_data/*.backup
nodered_data/.flows.json.backup
nodered_data/.flows_cred.json.backup
